#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.view-container {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #111;
  display: flex;
  flex-direction: column;
}