:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  background-color: #111; /* Fondo negro real */
  color: white;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* Quitamos el centrado de Vite */
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Eliminamos todas las reglas de "light mode" que Vite pone por defecto */